# Core Python Libraries
pandas
psycopg2-binary
sqlalchemy

# Yahoo Finance Fetcher
yfinance
yahoo_fin

# Google Trends Fetcher
pytrends

# Reddit Sentiment Fetcher
requests
vaderSentiment

# Real-time WebSocket Streaming
websocket-client

# Data Processing and Serialization
numpy
scipy

# Optional for JSON Parsing/Backtesting Extensions
python-dateutil

# Etc.
alpaca-trade-api # Alpaca API - DEPRECATED
alpaca-py
quiverquant
dash
pandas
fastapi
matplotlib
plotly
backtrader
praw
dash-bootstrap-components
scikit-learn
hmmlearn
networkx
requests_html
# umap-learn
dash_ace
dash-deck

# User sessions and all that
Flask-Session
Flask-Redis
flask-bcrypt
python-dotenv
flask_httpauth
flask-login

confluent-kafka
elasticsearch
pydantic 

crawl4ai
transformers
torch
torchvision
