# Core Python Libraries
pandas
psycopg2-binary
sqlalchemy

# Yahoo Finance Fetcher
yfinance

# Google Trends Fetcher
pytrends

# Reddit Sentiment Fetcher
requests
vaderSentiment

# Real-time WebSocket Streaming
websocket-client

# Data Processing and Serialization
numpy

# Optional for JSON Parsing/Backtesting Extensions
python-dateutil

# Etc.
alpaca-trade-api
quiverquant
dash
pandas
fastapi
matplotlib
plotly
backtrader
praw
dash-bootstrap-components
scikit-learn
hmmlearn
