.charting-page {
    padding: 16px;
}

.charting-widget {
    padding: 16px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.chart-container {
    height: 500px;
}